<form action="/auth/signup" method="POST">
  <p><label for="new-email">Email</label>
  <input id="new-email" type="email" name="email"></p>

  <p><label for="new-name">Name</label>
  <input id="new-name" type="text" name="name"></p>

  <p><label for="new-password">Password</label>
  <input id="new-password" type="password" name="password"></p>

  <p><input type="submit" value="Sign up"></p>
</form>
<!-- names match up in the data base -->
<!-- action matches your POST route for this -->
<!-- method can only be POST or GET -->