<%// console.log(plants[0].dataValues.common_name) %>

<h2 class='cTitle'>Welcome to your Compost Bin!</h2>

<h3>Below are your plants who are regrettably no longer with us.</h3>

<p>This does not insinuate that you are a bad plant mom or dad, 
    but rather plants are hard to keep alive sometimes. We understand - you will receive no judgment here!
</p>

<p>For information on composting, please visit <a href='https://www.epa.gov/recycle/composting-home'>this website</a>. </p>

<div class='cContainer'>

<% for (let i=0; i < plants.length; i++) { %>
<ul>
    <div class='deadPlant'>

        <li>

            <div id='deadImg'><img src="<%= plants[i].dataValues.image_url %>"></div>
            <div id='deadCommon'><br><%= plants[i].dataValues.common_name %></div></br></div>
            <div id='deadScientific'><br><%= plants[i].dataValues.scientific_name %></br></div>
            <button id='compost'> Delete </button>
            <button id='resurrect'> Resurrect </button>

        </li>

    </div>

</ul>
<% } %> 

</div>