<h2>Plants Details</h2>
<!--  a route should have queryed the API database by ID or NAME for a specific plant, a context object should have been packaged and sent from the backend -->
<!-- probably involves using a params from the URL pattern -->

<!-- THESE THREE PIECES OF INFO WE NEED FOR THE FORM -->
<!-- Add alligator tags to display scientific name -->
<!-- Add alligator tags to display scientific name -->
<!-- Add alligator tags to display picture -->

<!-- needs to include hidden form data using the POST method that stores information about the 
name, scientificName, lastWatered(empty), pictureURL, and API index integer; the submit button will be the heart emoji...info will
be sent to the backend to save it to the database -->

<!-- Add alligator tags for any other details we want to display -->