<div class="iContainer">
  <span class="iHeading">Plant Parenthood</span>
</div>
<div>
  <p class="iBlurb"><span class="firstLetter">W</span><span class="emphasis">elcome to Plant Parenthood</span>! Use the navigation bar to access a wide array of tools to help make your plant parenting life easier. Don't have an account? Sign up is free! Find information about a plant you're thinking about adding to your family by visiting our <span class="emphasis">Plant Directory</span>. Once you've built up a list of those plants and saved them to your profile, jump to your <span class="emphasis">Ledger</span> which allows you to keep track of the last time you watered each plant. If your plant unfortunately - and inevitably - doesn't make it, you can send it to your <span class="emphasis">Compost Bin</span> to keep track of your unlucky companions. But as all plant owners know, just because a plant dies, it doesn't mean it's gone forever! Use our resurrect button to put it back on your Ledger! Serenditous, ain't it?</p>
</div>