<h2>My Ledger</h2>

<h3>All favorited plants should display here</h3>
<h3>data should be coming from the leafyLedger database</h3>

<h3>THERE WILL BE A DELETE BUTTON USING A POST ROUTE AND METHOD OVERRIDE</h3>