<h2>Plants Directory</h2>

<h3>All the API plants should display here</h3>
<!-- A context object containing API data should be send from the backend -->
<!-- Use alligator tags to render those here with a loop -->

<!-- each plant display needs to include hidden form data using the POST method that stores information about the 
name, scientificName, lastWatered(empty), pictureURL, and API index integer; the submit button will be the heart emoji...info will
be sent to the backend to save it to the database -->

<!-- Clicking on each div should result in storing and ID or NAME of the plant assigned to that div, the URL probably involves a params URL pattern that will be picked up by a route that will use that params to query the API-->