nav ul {
  padding: 2px 0px 0px 3px;
}
nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
  margin: 0px 5px 0px 0px;
}

h1 {
  color: rgb(192, 212, 171);
}
/* Index page */
.iContainer{
  display:flex;
  justify-content: center;
  align-content: center;
}

.iHeading{
  font-family: 'Rock Salt', cursive;
  font-size: 40px;
  color: rgb(192, 212, 171);
}

/* CSS for Plants Directory */

.pdBody {
  background: url(https://cdn.pixabay.com/photo/2017/09/24/15/02/plants-2782101_960_720.jpg);
  background-size: 100%;
}

.pdHeading {
  text-align: center;
  font-family: 'Rock Salt', cursive;
}

.pdPlantContainer {
  margin: 0px 50px;
  padding: 25px 0px; 
}

.well {
  background: rgba(255, 255, 255, 0.568);
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
}

.pdThumb {
  width: 200px;
  border-radius: 10px;
  border-style: ridge;
}

.pdName{
  font-family: 'Rock Salt', cursive;
}

.pdSciName{
  font-style: italic;
  margin: -7px 0px 0px 0px;
}

.pdPlantDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pdPlantNames{
  text-align: right;
  align-self: flex-end;
  padding: 0px 0px 0px 15px;
}

.pdPlantSave {
  display: flex;
  align-self: flex-end;
}


/* ~~~~~~~~~~~~~~~~ Cemetery Page ~~~~~~~~~~~~~~~~~~~  */

.cemeteryPage {
  background: saddlebrown;
}

.wordBlock {
  background: seashell;
  margin: 5px, 0, 0, 0;
  opacity: 90%;
  text-align: center;
}

.compostList {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.deadPlant {
  background: rgba(255, 255, 255, 0.568);
  display: flex;
  justify-content: space-between;
  border: 3px solid black;
  border-radius: 15px;
  margin: 0px 50px 0px 0px;
}

.deadImg {
  width: 200px;
  height: 250px;
  border-radius: 5px;
  border-style: ridge;
}

.deadCommon {
  text-align: center;
  padding: 3px;
}

.deadScientific {
  text-align: center;
  padding: 3px;
}

.btn {
  margin: 2px;
}